<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!-- Alkalmazas alapertelmezett beallitasok -->
		<add key="szotarDatasource" value="magyar_angol1.csv" />
		<add key="themeDarkMode" value="true"/>
		<add key="themeTextShade" value="white"/>
		<add key="themeColor" value="DeepPurple"/>
		<add key="themeAccentColor" value="DeepOrange"/>
		
		<!-- Szotanulas Beallitasok -->
		<add key="szotanulasKivalasztottSzavakSzama" value="20" />
		<add key="szotanulasIsmeretlenSzavakSzama" value="10" />
		<add key="szotanulasBizonytalanSzavakSzama" value="5" />
		<add key="szotanulasIsmertSzavakSzama" value="5" />

		<add key="szotanulasKivalasztottTemplateIndex" value="0" />
		<add key="szotanulasTemplateKonnyu" value="30,30,40" />
		<add key="szotanulasTemplateHalado" value="50,30,20" />
		<add key="szotanulasTemplateNehez" value="70,20,10" />

		<add key="szotanulasIsmeretlenSzoSulyHozzaadas" value="-2" />
		<add key="szotanulasBizonytalanSzoSulyHozzaadas" value="-1" />
		<add key="szotanulasIsmertSzoSulyHozzaadas" value="1" />
		
		<!-- CONFIG VARS -->
		<add key="allowedThemeColors" value="Red,Pink,Purple,DeepPurple,Indigo,Blue,LightBlue,Cyan,Teal,Green,LightGreen,Lime,Yellow,Amber,Orange,DeepOrange,Brown,Grey,BlueGrey"/>
		<add key="allowedThemeAccentColors" value="Red,Pink,Purple,DeepPurple,Indigo,Blue,LightBlue,Cyan,Teal,Green,LightGreen,Lime,Yellow,Amber,Orange,DeepOrange"/>
		
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>